<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949231385363-5kubi94mlp60p5d0tat7gfg8e95vtjv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949231385363-5kubi94mlp60p5d0tat7gfg8e95vtjv1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>949231385363-184l0f6233bjrea22aa56jfr8418mvvv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCp8A2FppaGze1y-j-sAmdwCQORMnvfaFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>949231385363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plattics.carrifreestorage</string>
	<key>PROJECT_ID</key>
	<string>carrifree-70d2a</string>
	<key>STORAGE_BUCKET</key>
	<string>carrifree-70d2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:949231385363:ios:a81dafdc29379fba70b8e6</string>
	<key>DATABASE_URL</key>
	<string>https://carrifree-70d2a.firebaseio.com</string>
</dict>
</plist>
